@tailwind base;
@tailwind components;
@tailwind utilities;

/* ปรับขนาด editor */
.custom-quill .ql-container {
    @apply rounded-b-lg border-4 border-base-content/20;
}

.custom-quill .ql-container.ql-snow {
    @apply border border-base-content/20;
}

/* เปลี่ยนสีพื้นหลังของ Editor */
.custom-quill .ql-editor {
    @apply text-base p-3 text-base-content;
}

.custom-quill .ql-editor.ql-blank::before {
    @apply text-base-content/50;
}

/* เปลี่ยนสีของ Toolbar */
.custom-quill .ql-toolbar {
    @apply rounded-t-lg border-4 border-base-content/20;
}

.custom-quill .ql-toolbar.ql-snow {
    @apply border border-base-content/20;
}

@layer base {
    .ProseMirror {
        @apply overflow-auto;
    }

    .ProseMirror h1 {
        @apply text-2xl font-bold text-base-content;
    }

    .ProseMirror h2 {
        @apply text-xl font-bold text-base-content;
    }

    .ProseMirror h3 {
        @apply text-lg font-bold text-base-content;
    }

    .ProseMirror ul {
        @apply list-disc
    }

    .ProseMirror ul ul {
        list-style-type: circle;
    }

    .ProseMirror ul ul ul {
        list-style-type: square;
    }

    .ProseMirror ol {
        list-style-type: decimal;
    }

    .ProseMirror ol ol {
        list-style-type: decimal;
    }

    .ProseMirror ol ol ol {
        list-style-type: decimal;
    }



    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;

            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            >div {
                flex: 1 1 auto;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        ul[data-type="taskList"] {
            margin: 0;
        }
    }
}

.image-resizer-n,
.image-resizer-e,
.image-resizer-s,
.image-resizer-w {
    visibility: hidden;
}
